@font-face {
    font-family: 'Mona Sans';
    src:
        url('font/Mona-Sans.woff2') format('woff2 supports variations'),
        url('font/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Hubot Sans';
    src:
        url('font/Hubot-Sans.woff2') format('woff2 supports variations'),
        url('font/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

body {
    font-family: 'Hubot Sans';
}

body {
    background: rgb(56, 15, 129);
    background-image: radial-gradient(circle, #000e23, #060a1c, #070615, #05020d, #010002);
    color: whitesmoke;
}

.margin-7 {
    margin-top: -4rem;
}

.address {
    font-stretch: condensed;
    font-weight: lighter;
    font-size: x-large;
    font-family: 'Mona Sans';
    color: gray;
}

.mail-icon {
    font-size: 2rem;
}

.gradient-1 {
    background-image: linear-gradient(to right bottom, #ffffff, #e8f5ff, #c5eff3, #b4e6d0, #c6d6a1);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-2 {
    background-image: linear-gradient(to right bottom, #a9e915, #f4b408, #ff8257, #eb698b, #aa69a4);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.gradient-3 {
    background-image: linear-gradient(to right bottom, #dae9ff, #b3d1fe, #8bbafc, #5ea2f9, #008bf6);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.text-deco1 {
    font-size: 5rem;
    font-weight: 900;

}

.text-deco2 {
    font-size: 5rem;
    font-weight: 900;
    font-stretch: semi-condensed;
}