.font-bespoke {
    font-family: BespokeSans-Variable;
}

body {
    background-color: #151b2c;
    color: whitesmoke
}

.navbar-blur {
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.3);
}