.font-bespoke {
    font-family: BespokeSans-Variable;
}

body {
    background-color: rgb(21, 27, 44);
    color: whitesmoke
}

.navbar-blur {
    backdrop-filter: blur(7px);
    background-color: rgba(14, 18, 29, 0.8);
}

/* .gradient-heading {
    background-image: linear-gradient(to right top, #00c1f0, #00d4e7, #00e3bd, #2aeb7a, #a8eb12);
    background-size: 100%;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
} */